strimzi-kafka-operator:
  # Watch only the kafka namespace
  watchNamespaces:
    - kafka

  # Default log level
  logLevel: INFO

  # Resource requests and limits for the operator
  resources:
    requests:
      memory: 256Mi
      cpu: 100m
    limits:
      memory: 512Mi
      cpu: 500m


  nodeSelector:
    kubernetes.io/arch: amd64