kafka-ui:
  replicaCount: 1

  yamlApplicationConfig:
    kafka:
      clusters:
        - name: kafka
          bootstrapServers: kafka-kafka-bootstrap.kafka.svc.cluster.local:9092

  service:
    type: ClusterIP
    port: 8080

  resources:
    requests:
      memory: 256Mi
      cpu: 100m
    limits:
      memory: 512Mi
      cpu: 500m

