longhorn:
  defaultSettings:
    defaultReplicaCount: "2"
    defaultDataPath: /var/lib/longhorn

  persistence:
    defaultClass: true
    defaultClassReplicaCount: 2
    reclaimPolicy: Delete

  ingress:
    enabled: false
